@import url('https://fonts.googleapis.com/css?family=Abel|Old+Standard+TT:400,400i,700');

.suspension-contain {max-height: 980px;overflow:hidden;position: relative;}
html.suspended {background: rgba(0,0,0,0.6);}
body {max-width: 100%;min-width: 1200px;margin: 0 auto;text-align: center;font-family: "Abel"}
a {color:inherit;text-decoration: none}
a:hover {text-decoration: none;color:inherit;}
h1,h2,h3,h4,h5{ padding:0; margin:0; }
.row {max-width: 1200px;margin: 0 auto}

/*floats*/
.fl {float:left;}
.fr {float:right;}

/*typography*/
.text-primary{ color: #B11414; }
.text-bold{ font-weight: 700; }
.text-uppercase{ text-transform: uppercase }
.text-center{ text-align: center !important; }
.text-left{ text-align: left; }

/*button*/
.btn {font-family: "Abel";font-size: 22px;font-weight: 400;color: #fff;display: inline-block;padding: 10px 25px;background: #655941;border: 1px solid transparent;transition: all 0.5s ease;}
.btn:hover {background: #ddd; border-color: #ddd; color: #ddd; color: #fff;}

/*clearings*/
.clear{ clear:both;}
.clearfix:after {content:"."; display:block; height:0; clear:both;visibility:hidden;font-size: 0;}
.clearfix {display:block;}

/*contact form messages*/
form .messages p {display: none;font-family: Arial !important;font-weight: 400 !important;letter-spacing: 0 !important;font-size: 16px !important;}
form .loading {display: none;}
form .alert {padding: 15px;margin-bottom: 20px;border: 1px solid transparent;border-radius: 4px;}
form .alert-success {color: #3c763d;background-color: #dff0d8;border-color: #d6e9c6;}
form .alert-danger {color: #a94442;background-color: #f2dede;border-color: #ebccd1;}
form [type="submit"] {margin:20px auto}

/*contact form*/
.ctc-form {margin: 0 auto;text-align: center;}
.ctc-form input[type="text"],.ctc-form textarea {font-family:Arial;font-size: 16px;color:#000;height:45px;display: block;width: 100%;border:1px solid #ddd;border-radius: 3px;padding: 5px 10px;box-sizing: border-box;margin: 0 auto 8px}
.ctc-form textarea {height: 120px;padding-top:10px;}
.ctc-form button {display: block;}
.ctc-form .recap {display: inline-block;}
.ctc-form .g-recaptcha div {margin: 0 auto 10px;}
.ctc-form .ctc-hide {display: none;}

/*gallery*/
#content .gallery-container {text-align: center;}
#content .gallery {list-style-type: none;margin: 0;padding: 0;}
#content .gallery li {display: inline-block;}
#content .thumbnail {background-color: #fff;border: 1px solid #ddd;border-radius: 4px;display: block;line-height: 1.42857; margin-bottom: 20px;padding: 4px;transition: border 0.2s ease-in-out 0s;}
#content .page_navigation {display: inline-block;}
#content .page_link,#content .previous_link,#content .next_link,#content  .first_link,#content  .last_link, #content .ellipse {background-color: #fff;border: 1px solid #ddd;color:  #0275d8;display: inline-block;line-height: 1.25;margin-left: -1px;padding: 0.5rem 0.75rem;position: relative;}
#content .page_navigation > a:hover , .page_navigation > a.active_page {background-color: #eceeef;border-color: #ddd;color: #014c8c;text-decoration: none;}

h1 {font-size: 65px;font-weight: 700;color:#655941;font-family: "Old Standard TT"}
/*header*/
#header {position: relative;}
#header nav a#pull {display: none}
#header nav ul {margin: 0;padding: 0}
#header nav ul li {display: inline-block;vertical-align: middle;width: 19%;border-right: 1px solid #fff;}
#header nav ul li.right{border-right: none}
#header nav ul li a {font-family: "Abel"; font-size: 18px; color: #fff}
#header nav ul li.active-menu a, #header nav ul li a:hover {font-weight: 700}
.hdTopLeft, .hdTopMid, .hdTopRight{display: inline-block;vertical-align: top;width: 33%;}
.hdTopLeft img, .hdTopLeft p, .hdTopRight img, .hdTopRight p{display: inline-block; vertical-align:middle;}
.hdTopLeft{text-align: left;font-family: "Oswald";font-size: 22px; font-style: italic;}
.hdTopRight{text-align: right;font-family: "Oswald";font-size: 30px; font-weight: 700;margin: -13px 0;}
.hdBottom{background-color: rgba(108,50,42,0.8); max-width: 100%; padding: 110px 0 20px;margin-top: -100px;}
.hdBottom .row{max-width: 1440px}
/*banner*/
#banner {background: url(../images/common/bgBanner.png)no-repeat center top; background-size: cover; padding: 425px; position: relative;margin-top: -150px;z-index: -1}

/*content*/
#content {}

#welcome-section{position: relative;padding: 50px 0 100px;max-width: 1440px; margin: 0 auto;}
.welcome-image, .welcome-article{display: inline-block; vertical-align: top; width: 49%}
.welcome-section-content{margin-top: 20px}
#welcome-section h1{position: relative;}
#welcome-section h1:before{content: ""; background: #DDDDDD; width: 290px; height:1px; position: absolute; top: 50% ; left: 0}
#welcome-section h1:after{content: ""; background: #DDDDDD; width: 290px; height:1px; position: absolute; top: 50% ; right: 0}
.welcome-image img{position: absolute; left: 0; max-width: 690px; width: 48%;}
.welcome-article{text-align: left;margin-left: 620px;}
.welcome-article h2{font-family: "Old Standard TT"; font-size: 45px; color: #6C322A;}
.welcome-article p{font-family: "Abel"; font-size: 19px; color: #333333; max-width: 560px;}

#services-section{background: url(../images/content/bg1.jpg)no-repeat center top; background-size: cover; padding: 70px 0 280px;}
#services-section h2{font-family: "Old Standard TT"; font-weight: bold; font-size: 65px; color: #fff;}
#services-section .services{margin: 30px 0 0;}
.services p {font-family: "Abel";font-size: 25px; color: #fff; margin: 0;}
.services p.top{font-family: "Old Standard TT"; font-size: 23px; font-weight: bold;margin-top: 30px;}
#services-section .box{position: relative;max-width: 590px; width: 50%; max-height: 280px;display: inline-block; vertical-align: top;}
#services-section .box .title img{position: absolute; bottom: 0; right: 0}
#services-section .box .title p{position: absolute; bottom: 0; right: 10px; font-family: "Abel"; font-size: 25px; color: #fff;margin: 15px 0;}
#services-section .box.left{margin-right: 7px;}
#services-section .box.right{margin-left: 8px;}

#contact-section{position: relative;background: url(../images/content/bgContact.jpg)no-repeat center top; background-size: cover;max-width: 1200px; margin: 0 auto;padding: 80px 0; margin-top: -171px;}
#contact-section h2{font-family: "Old Standard TT"; font-weight: bold; font-size: 65px; color: #fff;margin: -10px 0 10px;}
#contact-section .row{max-width: 1140px}
#contact-section .ctc-form{color: #fff;}
#contact-section .ctc-form input::placeholder{color: #fff;}
#contact-section .ctc-form textarea::placeholder{color: #fff;}
#contact-section .ctc-form input[type="text"]{max-width: 33%; display: inline-block; vertical-align: top; background: none;border-radius: 0}
#contact-section .ctc-form textarea{background: none;border-radius: 0}

#review-section{position: relative;padding: 70px 0; text-align: left;max-width: 1440px; margin: 0 auto;}
#review-section h2{font-family: "Old Standard TT"; font-weight: bold; font-size: 65px; color: #444444;margin-top: -70px;}
#review-section .blockquote, #review-section .image{display: inline-block;vertical-align: top;}
#review-section .image img{position: absolute;max-width: 371px;width: 26%;top:-484px; right:0; z-index: -1}
.blockquote {text-align: center;background: url(../images/content/border.png); background-size: 100% 100%; padding: 20px 20px;}
.blockquote img, .blockquote p{display: inline-block;vertical-align:top}
.blockquote p{max-width: 807px; font-size: 19px; font-family: "Abel"}

#contact-description-section{padding: 40px 0 55px;}
#contact-description-section .row{max-width: 1440px}
#contact-description-section h2{font-family: "Old Standard TT"; font-weight: bold; font-size: 45px; color: #6C322A;}
#contact-description-section p{font-size: 19px}
#contact-description-section p span{display: block;}
#contact-description-section .logo2{margin-top: 30px;position: relative;}
#contact-description-section .logo2:before{content: ""; background: #DDDDDD; width: 520px; height:1px; position: absolute; top: 50% ; left: 0;z-index: -1}
#contact-description-section .logo2:after{content: ""; background: #DDDDDD; width: 520px; height:1px; position: absolute; top: 50% ; right: 0;z-index: -1}
.contact-description{max-width: 1200px; margin: 0 auto;margin-top: 50px;}
.contact-description .cdLeft, .contact-description .cdMid, .contact-description .cdRight{display: inline-block;vertical-align: top;width: 33%;}
.contact-description p.email a{font-family: "Oswald"; font-style: italic; font-size: 22px }
.contact-description p.phone a{font-family: "Oswald"; font-weight: bold; font-size: 30px}
.contact-description p.location a{font-family: "Oswald"; font-style: italic; font-size: 22px}
/*footer*/
#footer {background: #6C322A;padding: 15px 0}
#footer .copy, #footer .silver{font-size: 19px; color: #fff; margin: 0 auto;}
#footer .silver img {display: inline-block;vertical-align: middle;max-width: 50px}


/*inner pages*/
.inner #content {min-height: 400px;padding: 40px 0}

.inPrivacyBox {max-width: 850px; margin: 0 auto;}
.inPrivacyBox p {text-align: justify!important;}
